<!DOCTYPE html>
{%load static %}
<html>
<head>
	<title>About Us Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styl.css' %}">
</head>	
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
                    <p class="p1">
                    GrOwKiDs is a co-curricular activites oriented platform for a child to learn and Explore Activites and to build self-confidence in them.
                   <br> This GrOwKiDs is a blog where we post blogs related to Dance,Drawing,Music,Yoga,Karatte,Abbacus.
                    <br>We provide blogs from well Qualified trainers with there Specilizations.   
                    <br>
                    <br>
                  <p class="p1">I hoope my Contents are helpful for you and you will learn something new from them. 
                    <br>Thank you for taking the time to read this.</p>
                    <br>
                    <p class="p1">If you have any quries, Please do not hesitate to tell us through the <a href="contact.html" style="text-decoration:none;">contact page</a></p>
                </p>
				</div>
			</div>
			<div class="image-section">
				<img src="{% static 'images/multicolor-designify (1).png' %}">
			</div>
		</div>
	</div>

	
</body>
</html>