 <a class="nav-item nav-link active" href="{% url 'showhome' %}" id="navicon">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="{% url 'showtrainerdetails' %}" id="navicon">view Trainer</a>
            <a class="nav-item nav-link active" href="{% url 'showstudent' %}" id="navicon">View Students</a>
            <a class="nav-item nav-link active" href="{% url 'showenroll' %}" id="navicon">View Enroll</a>
            <a class="nav-item nav-link active" href="{% url 'showpayment' %}" id="navicon">View Payment</a>
            <a class="nav-item nav-link active" href="{% url 'logcheck' %}" id="navicon">Logout</a>