<!DOCTYPE html>
{%load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <!--Main Start-->


  <div class="container">
    <div class="title">Make Payment</div>
    <div class="content" style="text-align: center;">
     <img src="{% static 'images/payment.jpeg' %}" width="200" height="auto"/>
    </div>
  </div>
    </div>
</body>
</html>